body{
    display: flex;
    flex-direction: column;
    margin:0;
    font-family: "Roboto";
    
    
}

header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 0;
   background-color: #1F2937;

}
.logo{
    padding-left: 200px;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}
a{
    text-decoration: none;
    font-size:18px;
    color: #F9FAF8;
    margin-left: 20px;
}
ul{
    display: flex;
    padding-right: 200px;
    list-style: none;
    font: #E5E7EB;
}
.hero{
    background-color:#1F2937;
    margin:0;
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right:180px ;
}

h3{
    font-size:48px;
    font-weight: 800;
    color:  #F9FAF8;
}
h4{
    font-size:36px;
    font-weight: 800;
    color: #1F2937;
}
p{
  color:#E5E7EB;
  font-size:18px;
}
button{
    background-color:#3882F6;
    color:#E5E7EB;
    border-radius: 6px;
    border:0;
    padding:8px 32px;
    font-size:18px;
    font-weight: 700;
    
    
    
}
.button2{
   
   border:2px solid #E5E7EB;
   
}
img{
    margin:50px 20px;
}
.call{
    background-color: #3882F6;
    padding:50px;
    border-radius: 10px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    color: #F9FAF8;
    
    

}
.quote{
    background-color: #E5E7EB;
}
blockquote{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    margin-left: 300px;
    margin-bottom: 10px;
    padding-top: 110px;
    
}
.thor{
    font-size: 23px;
    font-weight: 800;
    margin-top: 0px;
    margin-left: 800px;
    padding-bottom: 80px;
    

}
.action{
    font-size: 26px;
    font-weight: 900;
    
}
.container1{
    
    padding:80px 200px;
}
.container2{
    margin:0px;
}
footer{
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    padding:30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


